$backgroundColor: #e1e2e3;
$fontColor: #808080;
$borderColor: #808080;
$spanColor: #2159d6;
$regularFont: "OpenSan", Arial, sans-serif;
$spanFont: "OpenSans", Arial, sans-serif;
$areaFont: "OpenSansLight-Italic", Arial, sans-serif;
$inputFont: "OpenSans-Semibold", Arial, sans-serif;
