/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url("../images/greypattern.png");
  background-color: #dddddf;
  color: #808080;
}

h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5rem;
  padding: 1.5rem 0 0.7rem 0;
}

p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2rem;
  opacity: 0.75;
}

div.box {
  height: 40rem;
  position: relative;
}

div.box .container {
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
}

.container {
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 5px #808080;
}

header div {
  padding: 3rem 0.7rem 0 0.7rem;
}
header div ul {
  width: auto;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
header div h1 span {
  font-family: "Open Sans", Arial, sans-serif;
  color: #2159d6;
  font-style: italic;
  font-weight: 700;
}
header div hr {
  opacity: 0.25;
}

main p {
  padding: 0.7rem 0.7rem 0 0.7rem;
}

footer hr {
  opacity: 0.1;
}
footer form {
  padding: 0 0.7rem 0.7rem 0.7rem;
}
footer form textarea {
  resize: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5rem;
  border: 1px solid #808080;
  border-radius: 0.3rem;
  opacity: 0.4;
  color: #808080;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}
footer form .hidden-text {
  display: none;
}
footer form .hidden-text-show {
  font-size: 10px;
  color: #808080;
  padding: 0;
  margin: 0;
}
footer form input {
  margin-top: 0.7rem;
  border: 1px solid #2159d6;
  width: 100%;
  height: 3rem;
  color: white;
  font-size: 16px;
  border-radius: 0.4rem;
  background-color: #517fe5;
  -webkit-box-shadow: inset 0px -10px 36px 1px #0a3187;
  -moz-box-shadow: inset 0px -10px 36px 1px #0a3187;
  box-shadow: inset 0px -10px 36px 1px #0a3187;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
