@import "variables";
@import "reset";

body {
  background-image: url("/images/greypattern.png");
  font-family: $regularFont;
  font-weight: 400;
  color: $fontColor;
}
h1 {
  font-size: 20px;
  line-height: 1.5rem;
  padding: 1.5rem 0 0.7rem 0;
}
p {
  font-size: 15px;
  line-height: 1.2rem;
  opacity: 0.75;

}


div.box {

  height: 50rem;
  position: relative;
}
div.box .container {
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;

}
.container {
  padding: 0.7rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 5px $borderColor;
}

header {
  ul {
    width: auto;
    list-style-type: none;
    text-align: center;

    li {
      display: inline;

    }
  }

  h1 {
    span {
      font-family: $spanFont;
      color: $spanColor;
      font-style: italic;
      font-weight: 800;

    }
  }

}

footer {
  textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    border: 1px solid $borderColor;
    border-radius: 0.3rem;
    opacity: 0.4;
    color: $fontColor;
    font-family: "$areaFont", Arian, sans-serif;
    font-weight: 300;
    font-style: italic;

  }
  input {
    width: 100%;
    height: 3rem;
    color: white;
    font-size: 20px;
    border-radius: 0.4rem;
    background-color: $spanColor;
    font-family: $inputFont;
    font-weight: 600;
  }
}