@import "variables";
@import "reset";


body {
  background-image: url("../images/greypattern.png");
  font-family: $regularFont;
  font-weight: 400;
  color: $fontColor;
}
h1 {
  font-size: 18px;
  line-height: 1.5rem;
  padding: 1.5rem 0 0.7rem 0;
}
p {
  font-size: 15px;
  line-height: 1.2rem;
  opacity: 0.75;

}


div.box {

  height: 40rem;
  position: relative;
}
div.box .container {
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;

}
.container {
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 5px $borderColor;
}

header {
  div {
    padding: 3rem 0.7rem 0 0.7rem;

    ul {
      width: auto;
      list-style-type: none;
      text-align: justify;
    }

    li {
      display: inline-block;
    }

    h1 {
      span {
        font-family: $spanFont;
        color: $spanColor;
        font-style: italic;
        font-weight: 800;

      }
    }
    hr {
      opacity: 0.25;
    }
  }

}

main {
  p {
    padding:  0.7rem 0.7rem 0 0.7rem;
  }
}

footer {
  hr {
    opacity: 0.1;
  }
  form {
    padding: 0 0.7rem 0.7rem 0.7rem;
    textarea {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 5rem;
      border: 1px solid $borderColor;
      border-radius: 0.3rem;
      opacity: 0.4;
      color: $fontColor;
      font-family: "$areaFont", Arian, sans-serif;
      font-weight: 300;
      font-style: italic;

    }
    .hidden-text {
      display: none;
    }
    .hidden-text-show {
      font-size: 10px;
      color: $fontColor;
      padding: 0;
      margin: 0;
    }
    input {
      margin-top: 0.7rem;
      border: 1px solid $spanColor;
      width: 100%;
      height: 3rem;
      color: white;
      font-size: 16px;
      border-radius: 0.4rem;
      background-color: #517fe5;
      -webkit-box-shadow: inset 0px -10px 36px 1px rgba(10,49,135,1);
      -moz-box-shadow: inset 0px -10px 36px 1px rgba(10,49,135,1);
      box-shadow: inset 0px -10px 36px 1px rgba(10,49,135,1);
      font-family: $inputFont;
      font-weight: 600;
    }
  }

}

@media only screen and (max-width: 500px) {
  div.box {
  }
  div.box .container {
    width: 100%;
    background: white;

  }


}